[class^="icon-"], [class*=" icon-"] {
    height: 140px;
    width: 140px;
    display: inline-block;
    fill: gold;
}

[class^="licon-"], [class*=" licon-"] {
    height: 20px;
    width: 20px;
    display: inline-block;
    fill: blue;
}